.home{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.container{
    width: 1024px;
    background-color: whitesmoke;
}

/* ----- CUERPO ----- */

.cuerpo-container{
    display: grid;
    height: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "left center right";
}

.left{
  grid-area: left;
  height: inherit;
}

.center{
  grid-area: center;
  height: inherit;
}

.right{
  grid-area: right;
  height: inherit;
}

/* ----- CUERPO ----- */